h1{
    text-align : center;
    font-size : 23;
    text-decoration : underline;
    
}

h2{
    font-size : 18;
    text-decoration : underline;



}
.partie_1{
    
    background-image : url()
}

/* .partie_2{
    



} */





body{
    
    background-image: url(Wiki-background.png);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-size: 16;



}

h3{
    text-decoration: underline;


}

.image{

    float: right;
    width: 150px;
    height: 150px,
}

.blabla{
    font-size: 30;
}


.liens{
    font-size: 25;

}


.image_logo{
    float : right;
    width: 800px;
    height: 800px;
    


}
header img{
    width: auto;
    max-height: 100px;
}
header{
    overflow: hidden;
    display :block;
    background-color:rgb(209, 190, 81) ;
    font-family: "SF Fedora";
}

@media all and (max-height:600px){
    header{
        display:none;
    }
}

@media all and (max-width:1250px){
    header{
        display: none;
    }
}

.nom{
    position: relative;
    display: inline-block;
    margin-left: 10%;
}

.logo{
    float:right;
    position: relative;
    margin-top: 10px;
    padding-right: 10%;
}

.menu{
    width: 100%;
    display: block;
}

.menu > ul{
    margin: 0px;
    padding: 0px;
    position: relative;
    top :0;
    background-color: rgb(209, 190, 81);
    width: 100%;
    z-index: 10000;
    overflow:hidden ;
}

.menu > ul::after{
    content:"";
    display: block;
    clear: both;
}

.menu > ul > li{
    float: left;
    position: relative;
    margin-left:0;
}

.menu > ul > li > a{
    padding: 20px 30px;
    color: white;
}

.menu li{
    list-style-type: none;
}

.menu a{
    display: inline-block;
    text-decoration: none;
}

.menu a:hover{
    background-color:rgb(200, 180, 75);
}

.intro{
    padding:2%;
    font-family: Arial,x-locale-body,sans-serif;
    font-size: 18px;
    line-height: 175%;
    background-color:rgba(79, 161, 217);
    display: block;
    border: solid black;
    color: white;
    text-align: justify;
    text-align-last: center;
    width: 75%;
    margin: 1% auto 1% auto;
    border-color: white;
}
