body{
    font-family: "SF Fedora";
    margin: 0px;
    padding: 0px;
    background-image: url("Wiki-background.png");
/*background-size: cover;*/
    /*-webkit-background-size:cover;*/
}

header img{
    width: auto;
    max-height: 100px;
}
header{
    overflow: hidden;
    display :block;
    background-color:rgb(209, 190, 81) ;
}

@media all and (max-height:600px){
    header{
        display:none;
    }
}

@media all and (max-width:1250px){
    header{
        display: none;
    }
}

.nom{
    position: relative;
    display: inline-block;
    margin-left: 10%;
}

.logo{
    float:right;
    position: relative;
    margin-top: 10px;
    padding-right: 10%;
}

.menu{
    width: 100%;
    display: block;
}

.menu > ul{
    margin: 0px;
    padding: 0px;
    position: relative;
    top :0;
    background-color: rgb(209, 190, 81);
    width: 100%;
    z-index: 10000;
    overflow:hidden ;
}

.menu > ul::after{
    content:"";
    display: block;
    clear: both;
}

.menu > ul > li{
    float: left;
    position: relative;
    margin-left:0;
}

.menu > ul > li > a{
    padding: 20px 30px;
    color: white;
}

.menu li{
    list-style-type: none;
}

.menu a{
    display: inline-block;
    text-decoration: none;
}

.menu a:hover{
    background-color:rgb(200, 180, 75);
}

.intro{
    padding:2%;
    font-family: Arial,x-locale-body,sans-serif;
    font-size: 18px;
    line-height: 175%;
    background-color:rgba(79, 161, 217);
    display: block;
    border: solid black;
    color: white;
    text-align: justify;
    text-align-last: center;
    width: 33%;
    margin: 1% auto 1% auto;
    border-color: white;
}

.corps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:white
}

.corps h1{
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: black;
    background-color:rgba(79, 161, 217) 
}

.contenu{
    height: auto;
    padding:2%;
    font-family: Arial,x-locale-body,sans-serif;
    font-size: 18px;
    line-height: 275%;
    background-color:rgba(79, 161, 217);
    display: block;
    border: solid black;
    color: white;
    text-align: justify;
    width: 50%;
    margin: 5% auto 1% auto;
    border-color: white;
}

.contenu h1{
    text-decoration: underline;
}

.références_image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5%;
}

.références_image img{
    height:200px ;
    width: auto;
    margin: auto auto auto 
}

.image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: auto auto auto auto;
    padding: auto auto auto auto;
    height: auto;
}

.image img{
    height: 311px;
    width: auto;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

.image > p{
    text-align: center;
    margin: auto auto auto auto;
}


.corps_2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:white
}

.corps_2 h1{
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: black;
    background-color:rgba(79, 161, 217) 
}

.contenu_2{
    height: auto;
    padding:2%;
    font-family: Arial,x-locale-body,sans-serif;
    font-size: 18px;
    line-height: 275%;
    background-color:rgba(79, 161, 217);
    display: block;
    border: solid black;
    color: white;
    text-align: justify;
    width: 50%;
    margin: 5% auto 1% auto;
    border-color: white;
}

.image_evolution{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: auto auto auto 10%;
    padding: auto auto auto auto;
    height: auto;
}

.image_evolution img{
    height: 311px;
    width: auto;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}
.image_evolution iframe{
    height: 311px;
    width: auto;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

.image_evolution > p{
    text-align: center;
    margin: auto auto auto auto;
}

.image_titre{
    padding-right: 25px;
    padding-top: 10px;
}